PORT=3000
APP_URL=http://localhost:3000
REDIS_URL=redis://localhost:6379

DB_HOST=localhost
DB_USER=root
DB_PASSWORD=
DB_NAME=url_shortener

ACCESS_TOKEN_SECRET=your_access_token_secret_here
ACCESS_TOKEN_EXPIRY=15m

REFRESH_TOKEN_SECRET=your_refresh_token_secret_here
REFRESH_TOKEN_EXPIRY=7d